<div class="new-order-wrapper">
  <div class="form-container">
    <%= render "shared/progressbar", active_tab: 2 %>
    <h2 class="form-headline">AHORA NECESITAMOS ALGUNOS DATOS PARA CREAR TU CUENTA</h2>
    <p class="form-subheadline">Con tu cuenta podrás modificar, agregar o cancelar tus suscripciones. También usaremos algunos datos para contactarte en caso de que necesitemos hacerlo, no te precupes <strong>no te enviaremos spam.</strong></p>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6">
            <%= f.input :first_name,
                        label: "Tu nombre",
                        placeholder: "Ej: Kim",
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "name" } %>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <%= f.input :last_name,
                        label: "Tus apellidos",
                        placeholder: "Ej: Kardashian West",
                        required: true,
                        autofocus: true %>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <%= f.input :phone,
                        label: "Tu teléfono de contacto",
                        placeholder: "Ej: 3148509472",
                        autofocus: true ,
                        input_html: { autocomplete: "phone" }%>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <%= f.input :email,
                        label: "Tu cuenta de correo",
                        placeholder: "Ej: me@kimkardashian.com",
                        required: true,
                        autofocus: true ,
                        input_html: { autocomplete: "email" }%>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <%= f.input :password,
                        label: "Una contraseña",
                        placeholder: "Ej: ***********",
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <%= f.input :password_confirmation,
                        label: "Porfavor confirma tu contraseña",
                        placeholder: "Ej: ***********",
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
          </div>
        </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Siguiente", class:"btn button banner-call-to-actions button-right" %>
      </div>
    <% end %>
  </div>
  <%= render 'shared/order-description', show_order_box: true %>
</div>
<%= render 'shared/footer', background: "background-white", border_top:"" %>
<%= render 'shared/tawk-payment' %>
