  <!-- Horionztal Menu Profile page -->
<div class="background-light-pink horizontal-menu-container-desktop padding-section-mid">
  <div class="flex flex-justify-around underlined margin-left-huge margin-right-huge padding-bottom-small">
    <div class="menu-item active-item">
      Datos personales
    </div>
      <%= link_to "Planes activos", orders_path, class:"link-decoration-none menu-item btn-color-black" %>
  </div>
</div>
<div class="show-container padding-bottom-mid padding-top-mid background-light-pink padding-left-xsmall padding-right-xsmall">
  <div class="profile-section-container margin-bottom-mid background-light-pink-transparent padding-section-mid padding-side-desktop">
    <div class="title padding-left-small">
      Datos personales y de envío
    </div>
    <div class="fields">
      <ul class="padding-top-mid font-small padding-inline-start-small">
        <li>
          <div class="bold">
            Nombre:
          </div>
          <div>
            <%= @user.first_name %>
          </div>
        </li>
        <li>
          <div class="bold">
            Apellidos:
          </div>
          <div>
            <%= @user.last_name %>
          </div>
        </li>
        <li>
          <div class="bold">
            Teléfono:
          </div>
          <div>
            <%= @user.phone %>
          </div>
        </li>
        <li>
          <div class="bold">
            Email:
          </div>
          <div>
            <%= @user.email %>
          </div>
        </li>
        <li>
          <div class="bold">
            Contraseña:
          </div>
          <div>
            **********
          </div>
        </li>
      </ul>
    </div>
    <%= link_to "Edita tu información personal", edit_user_registration_path, class:"padding-left-mid font-small btn-color-black"  %>
  </div>
</div>
<%= render 'shared/footer', background: "background-light-pink", border_top:"" %>
