<div class="devise-wrapper" style="background-image: url('https://images.unsplash.com/photo-1498842812179-c81beecf902c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=121db2298c113c690bb49153824e54eb&auto=format&fit=crop&w=1534&q=80')">
  <div class="container devise-form-container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="devise-form">
          <h2>CAMBIA TU CONTRASEÑA</h2>
          <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>

            <%= f.input :reset_password_token, as: :hidden %>
            <%= f.full_error :reset_password_token %>

            <div class="form-inputs">
              <%= f.input :password,
                          label: "Nueva contraseña",
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation, label: "Confirma tu nueva contraseña", required: true %>
            </div>

            <%= f.button :submit, "CAMBIAR MI CONTRASEÑA", class: "btn new-user-form-button banner-call-to-actions button-right" %>
            <div class="text-right">
              <%= render "devise/shared/links" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer', background: "background-white" %>
