<div class="new-order-wrapper">
  <div class="form-container">
    <h2 class="form-headline">Actualiza tu dirección de envío</h2>
    <%= simple_form_for(order)  do |f| %>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <%= f.input :address, placeholder: "Ej: Calle 11a # 42-18",label: "Dirección de entrega" %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <%= f.input :country, label: "País", priority_countries: ["CO"], selected: "CO" %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <%= f.input :province, placeholder: "Ej: Antioquia",label: "Departamento / Provincia" %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <%= f.input :city, placeholder: "Ej: Medellín", label: "Ciudad" %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <%= f.input :address_aditional_info, label: "Información adicional", placeholder: "Ej: Torre 1 Apto 302" %>
        </div>
        <div class="col-xs-12 col-sm-6 margin-top-xsmall">
          <%= f.button :submit, "Actualizar Dirección", class:"btn button banner-call-to-actions button-right button-all-width send-btn" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
