<div class="new-order-wrapper">
  <div class="form-container">
    <%= render "shared/progressbar", active_tab: 3 %>
    <h2 class="form-headline">AHORA VAMOS A NECESITAR ALGUNOS DATOS PARA EL ENVÍO</h2>
    <p class="form-subheadline">
      Cuéntanos dónde y cuándo quieres que te enviemos la caja todos los meses, se lo más especifica que puedas por favor, esto facilitará nuestro trabajo más adelante. Por ahora solo tenemos envios en Colombia
    </p>
    <%= simple_form_for(@order)  do |f| %>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <%= f.input :delivery_date,
                      label: "Fecha de entrega",
                      placeholder: "Ej: 10 Nov 2018",
                      input_html: {class: "datepicker"}
          %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <%= f.input :address, placeholder: "Ej: Calle 11a # 42-18",label: "Dirección de entrega" %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <%= f.input :country, label: "País", priority_countries: ["CO"], selected: "CO" %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <%= f.input :province, placeholder: "Ej: Antioquia",label: "Departamento / Provincia" %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <%= f.input :city, placeholder: "Ej: Medellín", label: "Ciudad" %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <%= f.input :address_aditional_info, label: "Información adicional", placeholder: "Ej: Torre 1 Apto 302" %>
        </div>
      </div>
        <%= f.button :submit, "Siguente", class:"btn button banner-call-to-actions button-right" %>
    <% end %>
  </div>
  <%= render 'shared/order-description', show_order_box: true %>
</div>
