<!-- Horionztal Menu Profile page -->
<div class="horizontal-menu-container-desktop padding-section-mid background-light-pink">
  <div class="flex flex-justify-around underlined margin-left-huge margin-right-huge padding-bottom-small">
      <%= link_to "Datos personales", user_path(current_user), class:"link-decoration-none menu-item btn-color-black" %>
    <div class="menu-item active-item">
      Suscripciones
    </div>
  </div>
</div>
<div class="show-container padding-bottom-mid padding-top-mid background-light-pink">
  <div class="profile-section-container margin-bottom-mid background-light-pink-transparent padding-section-mid padding-side-desktop padding-top-mid">
    <div class="title margin-bottom-mid">
      <% if @orders.empty? %>
        No cuentas con ninguna suscripción
      <% else %>
        Suscripciones
      <% end %>
    </div>
    <% unless @orders.empty? %>
      <% @orders.each do |order| %>
        <div class="flex flex-justify-between font-small plans-list flex-center padding-bottom-mid">
          <div class="main-info">
            <div class="bold">
              <%= Plan.find_by(sku: order.plan_sku).name %>
            </div>
            <div class="normal">
              <%= order.address %>
            </div>
            <div class="normal">
              <%= order.status %>
            </div>
            <% if order.status == "Pagada" %>
              <div class="normal">
                <% JSON %>
                Fecha próximo pago: <%= order.next_period_start %>
              </div>
              <div class="normal">
                Fechas de entrega: <%= order.delivery_group_message %>
              </div>
              <div class="normal">
                Dirección de envío: <%= order.address %> <%= link_to "(Editar)", edit_order_path(order), class: "btn-color-black"  %>
              </div>
            <% end %>
          </div>
          <% if order.status == "Pagada" %>
            <%= link_to "Cancelar", order_payments_cancel_path(order.id), method: :post, class: "link-decoration-none button cancel-btn font-small" %>
          <% elsif order.status == "Incompleta" && order.address.nil? %>
            <%= link_to "Completar suscripción", edit_order_path(order), class: "link-decoration-none button cancel-btn font-small"  %>
          <% elsif order.status == "Incompleta" && order.address %>
            <%= link_to "Completar suscripción", new_order_payment_path(order), class: "link-decoration-none button cancel-btn font-small"  %>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <% if current_user.all_orders_cancelled? %>
      <%= link_to "Suscribirme", new_order_path, class: "link-decoration-none button2 cancel-btn font-small" %>
    <% end %>
  </div>
</div>
<%= render 'shared/footer', background: "background-light-pink", border_top:"" %>



