<div class="new-order-wrapper">
  <div class="form-container">
    <%= render "shared/progressbar", active_tab: 1 %>
    <h2 class="form-headline">NUESTRO PLAN MENSUAL</h2>
    <p class="form-subheadline">
      Personaliza tu orden seleccionando los tampones o las toallas higiénicas que desees. No te preocupes, podrás cambiar tu selección en cualquier momento.
    </p>
    <%= form_with model: @order, local: true, html: { class: "plan-form" } do |f| %>
    <div class="row">
      <div class="col-xs-12 col-sm-6 ">
        <div class="form-group">
          <%= f.label :type_id, "Seleccionar tipo:" %>
          <%= f.select  :type_id,
                        Type.all.collect {|type| [type.name, type.id] },
                        { include_blank: "Seleccionar" },
                        { class: "form-control" }
          %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <%= f.label :size, "Seleccionar tamaño:", class: "hidden", id: "size_select_label"%>
          <%= f.select  :size,
                        Size.all.collect {|size| [size.name, size.id] },
                        { include_blank: "Seleccionar" },
                        { class: "hidden form-control" }
          %>
        </div>
      </div>
      <div class="col-xs-12">
        <%= f.label :plan_id, "Seleccionar marca:", class: "hidden", id: "brand_label"%>
        <%= f.hidden_field :plan_id %>
      </div>
    </div>
    <div class="plan-cards-container">
    </div>
      <%#= f.submit 'Siguiente', class: 'btn button banner-call-to-actions button-right disabled' %>
      <input type="submit" name="commit" value="Siguiente" id="plan-selection-submit" class="btn button banner-call-to-actions button-right" data-disable-with="Siguiente" disabled>
    <% end %>
  </div>
  <%= render 'shared/order-description', show_order_box: false %>
</div>

<%= render 'shared/footer', background: "background-white", border_top:"" %>
