<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <%= form_with model: @order, local: true do |f| %>
        <%= f.select :type_id, Type.all.collect {|type| [type.name, type.id] }, include_blank: "Seleccionar"%>
        <%= f.select  :size,
                      Size.all.collect {|size| [size.name, size.id] },
                      { include_blank: "Seleccionar" },
                      { class: "hidden" }
        %>
        <%= f.hidden_field :plan_id %>
        <%= f.submit 'Siguiente', class: 'btn btn-primary' %>
      <% end %>
        <% Plan.all.each do |plan| %>
          <div class="plan-card">
            <div class="plan-card-img" style="background-image: url('<%= cl_image_path plan.photo, height: 200, width: 200, crop: :fit; %>');"></div>
            <p><%= plan.name %></p>
          </div>
        <% end %>
    </div>
    <div class="col-xs-6">
      <div style=" width: 100%; height: 100%; background-color: red">
        <p>Descripción de la orden acá</p>
      </div>
    </div>
  </div>
</div>
