<!-- Producto principal y moto -->
<div class="banner-container background-white padding-bottom-big">
  <div class="banner-image-container">
    <%= image_tag "caja-sola.png", class:"banner-image" %>
  </div>
  <div class="banner-text-container padding-bottom-mid flex-center">
    <div class="banner-text no-padding-right">
      <div class="banner-title padding-left-big padding-right-mid padding-left-small padding-right-small">
        <h1>La caja que hace que la menstruación sea más llevadera</h1>
      </div>
      <div class="banner-motto padding-left-big padding-right-mid padding-left-small padding-right-small">
        <p> Despreocupate por la compra de tus productos básicos con la suscripción mensual a The Women Box y recibe además
            productos de belleza y alimentos que te ayudarán a pasar estos días duros con la mejor actitud </p>
      </div>
      <div class="padding-left-big padding-left-mid padding-right-mid">
        <%= link_to "Suscríbete", new_order_path, class: "button banner-call-to-actions" %>
      </div>
    </div>
  </div>
</div>
<!-- Contenido de la caja y foto productos -->
<div class="banner-container background-light-gray no-margin-top padding-section flex-reverse padding-bottom-mid">
  <div class="products-text-container flex-center">
    <div class="banner-text padding-bottom-mid">
      <div class="banner-title padding-left-big padding-left-small padding-right-small padding-right-huge padding-bottom-mid">
        <h2>Suscríbete y recibe mensualmente tus productos esenciales y otros productos sorpresa pensados especialmente para ti por solo $35.000 </h2>
      </div>
      <div class="banner-motto padding-left-big padding-left-small padding-right-small padding-right-huge">
        <div class="products-list padding-left-big padding-left-mid margin-top-mid">
          <div class="product-item flex-center">
            <i class="fas fa-check fa-xs"> </i>
            <div class="padding-left-xsmall font-small-mobile">
              Tampones o toallas higienicas
            </div>
          </div>
          <div class="product-item flex-center">
            <i class="fas fa-check fa-xs"> </i>
            <div class="padding-left-xsmall font-small-mobile">
              Artículos de maquillaje
            </div>
          </div>
          <div class="product-item flex-center">
            <i class="fas fa-check fa-xs"> </i>
            <div class="padding-left-xsmall font-small-mobile">
              Chocolates y dulces
            </div>
          </div>
          <div class="product-item flex-center">
            <i class="fas fa-check fa-xs"> </i>
            <div class="padding-left-xsmall font-small-mobile">
              Productos de temporada
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="products-image-container">
    <%= image_tag "caja-sola.png", class:"banner-image" %>
  </div>
</div>
<!-- Como funciona -->
<div class="how-it-works-container background-white padding-bottom-mid padding-section">
  <div class="section-title padding-bottom-mid flex-center flex-justify-center">
    <h2>¿Cómo funciona?</h2>
  </div>
  <div class="text-center">
    <div class="flex-center flex-justify-around display-block-mobile">
      <div class="step-description">
        <div class="icon padding-bottom-small">
          <%= image_tag "tampon.svg", class:"avatar-big"%>
        </div>
        <div class="avatar-big mid-font padding-bottom-small">
          Productos esenciales para la menstruación
        </div>
      </div>
      <div class="step-description">
        <div class="icon padding-bottom-small">
          <%= image_tag "makeup.svg", class:"avatar-big"%>
        </div>
        <div class="avatar-big mid-font padding-bottom-small">
          + Productos para hacerte feliz
        </div>
      </div>
      <div class="step-description">
        <div class="icon padding-bottom-small">
          <%= image_tag "delivery-truck.svg", class:"avatar-big"%>
        </div>
        <div class="avatar-big mid-font padding-bottom-small">
          Entregados en la puerta de tu casa
        </div>
      </div>
      <div class="step-description">
        <div class="icon padding-bottom-small">
          <%= image_tag "calendar.svg", class:"avatar-big"%>
        </div>
        <div class="avatar-big mid-font padding-bottom-small">
          Una vez al mes
        </div>
      </div>
    </div>
  </div>
  <!-- Condiciones -->
  <div class="background-white padding-top-mid padding-bottom-mid">
    <div class="flex-center flex-justify-center">
      <div class="conditions-text text-center">
        <h4> <strong> Por solo $35.000 al mes + envío GRATIS </strong> </h4>
      </div>
      <div class="padding-left-big padding-left-mid  mobile-hidden">
        <%= link_to "Suscríbete", new_order_path, class: "button banner-call-to-actions" %>
      </div>
    </div>
    <div class="product-condditions-list flex-center flex-justify-center">
      <div class="list-container">
        <div class="product-item flex-center">
          <i class="fas fa-check fa-xs"> </i>
          <div class="padding-left-xsmall">
            Sin compromisos
          </div>
        </div>
        <div class="product-item flex-center">
          <i class="fas fa-check fa-xs"> </i>
          <div class="padding-left-xsmall">
            Sin contratos
          </div>
        </div>
        <div class="product-item flex-center">
          <i class="fas fa-check fa-xs"> </i>
          <div class="padding-left-xsmall">
            Cancela cuando desees
          </div>
        </div>
      </div>
    </div>
    <div class="text-center padding-left-big desktop-hidden padding-top-small button-height">
      <%= link_to "Suscríbete", new_user_session_path, class: "button banner-call-to-actions" %>
    </div>
  </div>
</div>
<%= render 'shared/footer', background: "background-white" %>
