
<div class="devise-wrapper" style="background-image: url('https://images.unsplash.com/photo-1498842812179-c81beecf902c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=121db2298c113c690bb49153824e54eb&auto=format&fit=crop&w=1534&q=80')">
  <div class="container devise-form-container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="devise-form">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <h2 class="text-center form-headline">INICIAR SESIÓN</h2>
              <%= f.input :email,
                          required: false,
                          autofocus: true,
                          input_html: { autocomplete: "email" } %>
              <%= f.input :password,
                          required: false,
                          input_html: { autocomplete: "current-password" } %>
              <%= f.input :remember_me, label: "Recordarme", as: :boolean if devise_mapping.rememberable? %>

              <%= f.button :submit, "INICIAR SESIÓN", class: "btn new-user-form-button banner-call-to-actions button-right"%>
              <div class="text-right">
                <%= render "devise/shared/links" %>
              </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer', background: "background-white" %>
